@model SeguridadWebv2.Models.ComisionViewModel
@{
    ViewBag.Title = "Editar Comisión";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Comisión</h2>
@Html.AntiForgeryToken()
@using (Html.BeginForm("Edit", "Comision", FormMethod.Post))
{
    <div class="row">
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(x => x.importe , new { @class = "col-md-1 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.importe, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.importe, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <br />
                    <input type="submit" value="Aceptar" class="btn btn-success" />
                    @Html.ActionLink("Cancelar", "Inicio", "Home    ", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}


