@model SeguridadWebv2.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Resetear Clave";
}

<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Olvidaste tu contraseña.</h4>
    <p>Si te olvidaste tu contraseña, introducí tu dirección de email a continuación y te vamos a 
    mandar un email con un link para crear una contraseña nueva. Asegurate de introducir la misma dirección de email 
    que usaste para crear tu cuenta.</p>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-6 input-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <span class="input-group-addon">
                <span class="fa fa-envelope-square">
                </span>
            </span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-6 input-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            <span class="input-group-addon">
                <span class="fa fa-lock">
                </span>
            </span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-6 input-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            <span class="input-group-addon">
                <span class="fa fa-lock">
                </span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <input type="submit" class="btn btn-success" value="Cambiar Clave" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




