@using SeguridadWebv2.Models.App
@model SeguridadWebv2.Models.GeneralConfirmacionVM

@{
    ViewBag.Title = "ConfirmarContratacion";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1>Confirmar Contratacion</h1>

@Html.AntiForgeryToken()
@using (Html.BeginForm("ConfirmarContratacion", "Servicios", new { idpresupuesto = Model.Presupuesto.Id_Presupuesto, idsolicitud = Model.Solicitud.Id_Solicitud }, FormMethod.Post))
{
<div>
    @* Solicitud *@
    <h2 style="color:lightcoral">. . . . Solicitud</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @if (Model.Solicitud != null)
                {
                    var solicitud = Model.Solicitud;
                    <div class="col-md-8">
                        <div class="panel panel-danger">
                            <div class="panel-body">
                                <div class="col-md-3">
                                    <img src="@Url.Content(solicitud.Foto.ToString())" class="img-responsive" />
                                </div>
                                <div class="col-md-5">
                                    <div class="header">
                                        <h4 style="color: #3333FF">Profesión: @solicitud.Profesiones.Desc_Profesion</h4>
                                        <h4 style="color: #3333FF">Tarea: @solicitud.Tareas.Desc_Tarea</h4>
                                        <h5>@solicitud.Desc_Solicitud</h5>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    @solicitud.Fecha <br />
                                    @solicitud.Horarios.Horario.ToString()<br />
                                    @solicitud.Zonas.Zona.ToString()<br />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @* Presupuesto *@
    <h2 style="color:lightcoral">. . . . Presupuesto</h2>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @if (Model.Presupuesto != null)
                    {
                        var presupuesto = Model.Presupuesto;
                        var servi = new Servis();
                        servi = presupuesto.Servis.FirstOrDefault();
                        <div class="col-md-8">
                            <div class="panel panel-danger">
                                <div class="panel-body">
                                    <div class="col-md-3">
                                        <img src="@Url.Content(servi.Foto.ToString())" class="img-circle img-responsive" />
                                    </div>
                                    <div class="col-md-5">
                                        <div class="header">
                                            <h4 style="color: #3333FF">@servi.Nombre @servi.Apellido </h4>
                                            <h5>@presupuesto.Observacion</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        @presupuesto.Hora <br />
                                        <h2 style="color:red">$ @presupuesto.Precio</h2>
                                        <div>
                                            @*<a href="@Url.Action("ConfirmarContratacion", "Servicios", new { id = @presupuestos.Id_Presupuesto })" class="btn btn-primary btn-lg">Contratar</a>*@
                                            @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalContratar" >
                                                    Contratar
                                                </button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @* Botones de Aceptar *@
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <br />
            <input type="submit" value="Aceptar" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "MisSolicitudes", "Solicitudes", null , new { @class = "btn btn-default" })
        </div>
    </div>
</div>
}