<div id="sidebar" class="nav-collapse">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-dashboard"></i>
                    <span>Administrador</span>
                </a>
                <ul class="sub-menu">
                    <li>@Html.ActionLink("Usuarios", "Index", "UsuariosAdmin")</li>
                    <li>@Html.ActionLink("Grupos", "Index", "GruposAdmin")</li>
                    <li>@Html.ActionLink("Acciones", "Index", "AccionesAdmin")</li>
                    <li>@Html.ActionLink("Servis", "Index", "Servis")</li>
                    <li>@Html.ActionLink("Profesiones", "Index", "Profesiones")</li>
                    <li>@Html.ActionLink("Tareas", "Index", "Tareas")</li>
                    <li>@Html.ActionLink("Zonas", "Index", "Zonas")</li>
                    <li>@Html.ActionLink("Comision", "Index", "Comision")</li>

                </ul>
            </li>
        }
        @if (Request.IsAuthenticated && User.IsInRole("Users") || User.IsInRole("Servis") || User.IsInRole("Admin"))
        {
            <li class="sub-menu">
                <a href="javascript:;">
                  <i class="fa fa-suitcase"></i>
                     <span>Usuario</span>
                </a>
                <ul class="sub-menu">
                    <li>@Html.ActionLink("Mis Solicitudes", "MisSolicitudes", "Solicitudes")</li>
                    <li>@Html.ActionLink("Mis Servicios", "MisServicios", "Servicios")</li>
                
                </ul>
            </li>
        }
        @if (Request.IsAuthenticated && User.IsInRole("Servis"))
        { 
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-suitcase"></i>
                    <span>Servis</span>
                </a>
                <ul class="sub-menu">
                    <li>@Html.ActionLink("Solicitudes a Responder", "SolicitudesAResponder", "Presupuestos")</li>
                    <li>@Html.ActionLink("Mis Presupuestos", "Index", "Presupuestos")</li>
                    <li>@Html.ActionLink("Servicios Realizados", "ServiciosRealizados", "Servicios")</li>
                    <li>@Html.ActionLink("Cuenta Corriente", "Index", "CuentaCorriente")</li>
                </ul>
            </li>
        }
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        { 
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class=" fa fa-bar-chart-o"></i>
                    <span>Reportes</span>
                </a>
                <ul class="sub-menu">
                    <li>@Html.ActionLink("Reportes", "Index", "Reportes")</li>
                </ul>
            </li>
        }
    </ul>
    <!-- sidebar menu end-->
</div>
