<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    @Styles.Render("~/Content/adminPanel")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <section id="container">
        <div class="navbar navbar-fixed-top">
            <header class="header black-bg">
                @Html.ActionLink("Servi En Casa", "Index", "Home", null, new { @class = "navbar-brand" })
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        @*@if (Request.IsAuthenticated && User.IsInRole("Admin"))*@
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Mi Cuenta", "Inicio", "Home")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </header>
        </div>
            <!--sidebar start-->
            <aside>
                @Html.Partial("_Dashboard")
            </aside>
            <!--sidebar end-->


            <section id="main-content">
                <section class="wrapper">
                    @RenderBody()
                </section>
            </section>
            @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
</section>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/adminPanelJs")
        @RenderSection("scripts", required: false)
</body>
</html>
