@model SeguridadWebv2.Models.ZonasViewModel
@{
    ViewBag.Title = "Agregar Zona";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<h2>Agregar Zona</h2>
@Html.AntiForgeryToken()
@using (Html.BeginForm("Create", "Zonas", FormMethod.Post))
{
    <div class="row">
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(z => z.zona, new { @class = "col-md-1 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(z => z.zona, new { @class = "form-control" })
                    @Html.ValidationMessageFor(z => z.zona, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <br />
                    <input type="submit" value="Aceptar" class="btn btn-success" />
                    @Html.ActionLink("Cancelar", "Index", "Zonas", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}


