@model SeguridadWebv2.Models.EditarProfesionViewModels
@{
    ViewBag.Title = "Editar Profesión";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<h2>Editar Profesión</h2>
@Html.AntiForgeryToken()
@using (Html.BeginForm("Edit", "Profesiones", FormMethod.Post))
{
    <div class="row">
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.profesion, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.profesion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.profesion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br />
                    <input type="submit" value="Aceptar" class="btn btn-success" />
                    @Html.ActionLink("Cancelar", "Index", "Profesiones", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}
