@model IEnumerable<SeguridadWebv2.Models.App.Profesiones>
@{
    <script src="//oss.maxcdn.com/bootbox/4.2.0/bootbox.min.js"></script>
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Profesiones</h2>
<hr />
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
            <thead>
                <a href="@Url.Action("Create","Profesiones")" class="btn btn-primary btn-xs pull-right"><b>+</b> Agregar Nueva Profesión </a>
                <tr>
                    <th>ID</th>
                    <th>Profesión</th>
                    <th class="text-center">Acción</th>
                </tr>
            </thead>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Id_Profesion</td>
                    <td>@p.Desc_Profesion</td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' href="@Url.Action("Edit","Profesiones",new { id = p.Id_Profesion})"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                        <a href="@Url.Action("Delete","Profesiones",new { id = p.Id_Profesion})" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>