@using SeguridadWebv2.Models.App
@model SeguridadWebv2.Models.ReportesVM

@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Content/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

    <div>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Reportes <small>Dashboard</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>ServiEnCasa!</strong> en este panel veras la informacion y estadistiacas de las Usuarios
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div id="cSolicitudes" class="huge">33</div>
                                        <div>Solicitudes!</div>
                                    </div>
                                </div>
                            </div>
                            @*<a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>*@
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div id="cPresupuestos" class="huge">11</div>
                                        <div>Presupuestos!</div>
                                    </div>
                                </div>
                            </div>
                            @*<a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>*@
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div id="cServicios" class="huge">124</div>
                                        <div>Servicios!</div>
                                    </div>
                                </div>
                            </div>
                            @*<a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>*@
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div id="cNoPresupuestados" class="huge">13</div>
                                        <div>No Presupuestados!</div>
                                    </div>
                                </div>
                            </div>
                            @*<a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>*@
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Profesiones !</h3>
                            </div>
                            <div class="panel-body">
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="flot-pie-chart"></div>
                                </div>
                                @*<div class="text-right">
                                        <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Usuarios/Servis/Admins</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart"></div>
                                @*<div class="text-right">
                                        <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Solicitudes por Profesión</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-bar-chart"></div>
                                @*<div class="text-right">
                                        <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    @*<div class="col-lg-8">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Multiple Axes Line Graph Example with Tooltips and Raw Data</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="flot-multiple-axes-chart"></div>
                                    </div>
                                    <div class="text-right">
                                        <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
                <!-- /.row
                <!-- /.row -->
                <div class="row">

                    <div hidden class="col-lg-4">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Line Graph Example with Tooltips</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-line-chart"></div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Ultimos Pagos!</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Id </th>
                                                <th>Fecha de Pago</th>
                                                <th>Hora del Pago</th>
                                                <th>Importe</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                foreach (var cCorriente in Model.cuentaCorriente)
                                                {
                                                    if (cCorriente.Credito > 0)
                                                    {
                                                        <tr>
                                                            <td>@cCorriente.Id_CtaCorriente</td>
                                                            <td>@cCorriente.Fecha.ToShortDateString()</td>
                                                            <td>@cCorriente.Fecha.ToShortTimeString()</td>
                                                            <td>$ @cCorriente.Credito.ToString()</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Datos útiles de HOY!</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">@Model.solicitudes.Where(x=>x.Fecha == DateTime.Today).Count()</span>
                                        <i class="fa fa-fw fa-calendar"></i> Solicitudes 
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">@Model.presupuestos.Where(x => x.Fecha_Vencimiento == DateTime.Today.AddDays(-3)).Count()</span>
                                        <i class="fa fa-fw fa-comment"></i> Presupuestos
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">@Model.servicios.Where(x => x.Presupuestos.Hora == DateTime.Today).Count()</span>
                                        <i class="fa fa-fw fa-truck"></i> Servicios
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">@{
                                            decimal? debitosHoy = 0;
                                            foreach (var deb in Model.cuentaCorriente.Where(x => x.Fecha == DateTime.Today))
                                            {
                                                debitosHoy = debitosHoy + deb.Debito;
                                            }
                                            @debitosHoy.ToString()
                                        }</span>
                                        <i class="fa fa-fw fa-money"></i> Comisiones $
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">@{
                                            decimal? creditosHoy = 0;
                                            foreach (var deb in Model.cuentaCorriente.Where(x => x.Fecha == DateTime.Today))
                                            {
                                                creditosHoy = creditosHoy + deb.Credito;
                                            }
                                            @creditosHoy.ToString()
                                        }</span>
                                        <i class="fa fa-fw fa-check"></i> Pagos $
                                    </a>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Tabla de Totales Mensuales</h3>
                            </div>
                            <div class="panel-body">
                                    
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Mes </th>
                                            <th>Total de Solicitudes</th>
                                            <th>Total de Presupuestos</th>
                                            <th>Total de Servicios</th>
                                            <th>Servicios Satifactorios</th>
                                            <th>Importe Comisión</th>
                                            <th>Importe de Ingresos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            for (var i = 1; i <= 12; i++)
                                            {
                                                <tr>
                                                     
                                                    <td>@i</td>
                                                    <td>@Model.solicitudes.Where(x=>x.Fecha.Month == i).Count()</td>
                                                    <td>@Model.presupuestos.Where(x => x.Hora.Month == i).Count()</td>
                                                    <td>@Model.servicios.Where(x => x.Presupuestos.Hora.Month == i).Count()</td>
                                                    <td>@Model.servicios.Where(x => x.Presupuestos.Hora.Month == i && x.Estado == "Calificado").Count()</td>
                                                    <td>@{
                                                        decimal? debitos = 0;
                                                        foreach (var deb in Model.cuentaCorriente.Where(x=>x.Fecha.Month == i))
                                                        {
                                                            debitos = debitos + deb.Debito;
                                                        }
                                                    } $ @debitos</td>
                                                    <td>@{
                                                        decimal? creditos = 0;
                                                        foreach (var cred in Model.cuentaCorriente.Where(x => x.Fecha.Month == i))
                                                        {
                                                            creditos = creditos + cred.Credito;
                                                        }
                                                    } $ @creditos</td>
                                                </tr>

                                            }
                                            foreach (var cCorriente in Model.cuentaCorriente)
                                            {
                                                if (cCorriente.Credito > 0)
                                                {

                                                }
                                            }
                                        }
                                    </tbody>
                                </table>



                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                
                <div hidden class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


</body>

</html>
